*{
    padding: 0;
    margin: 0;
}
html, body{
    height: 100%;
    width: 100%;
    /*实现渐变背景效果*/
    background-image:linear-gradient(120deg, #487eb0, #fbc531);
    /*
    overflow 属性规定如何处理如何处理不符合元素框的内容
    hidden 内容会被修剪，但是浏览器不会显示供查看内容的滚动条。
    */
    overflow: hidden;
}

.container{
    /*absoleute绝对定位的意思是说，它的定位不受父元素中其他元素的影响
    relative相对定位，就是会受到父元素中其他元素影响*/
    position:absolute;
    height:350px;
    width:600px;
    background-color:rgba(255,255,255,.9);
    top:50%;
    left:50%;
    /*
    Transform属性应用于元素的2D或3D转换。这个属性允许你将元素旋转，缩放，移动，倾斜等
    translate(x,y) 	定义 2D 转换。
    */
    transform:translate(-50%, -30%);
    border-radius:10px;
    /*
    box-shadow 向 div 元素添加阴影
    box-shadow: h-shadow v-shadow blur spread color inset;
    h-shadow	必需的。水平阴影的位置。允许负值
    v-shadow	必需的。垂直阴影的位置。允许负值
    blur	可选。模糊距离
    spread	可选。阴影的大小
    color	可选。阴影的颜色。
    inset	可选。从外层的阴影（开始时）改变阴影内侧阴影
    */
    box-shadow:0px 0px 10px rgba(17, 39, 59, .8);
    border:1px solid rgba(17, 39, 59, 1);
    overflow:hidden;
    transition:1s;
}